{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<div class="container" id="about">
  <h2>Acerca de nosotros</h2>
  <h6>Nuestra Pasión por los Postres</h6>
  <p>  
    En OnlyFlans, somos un equipo de entusiastas de la repostería con un amor inquebrantable por los postres artesanales. Nuestra misión es endulzar tus momentos especiales con delicias hechas con los ingredientes más frescos y de la más alta calidad. Desde nuestra cocina hasta tu mesa, cada postre es una obra de arte diseñada para deleitar tus sentidos.</p> 
    
    <img src="{% static 'img/pateleros.png' %}"  alt="pasteleros" style=" width: 30%; height: 60%;">
    <h6>Lo Que Ofrecemos</h6> 
  <p>   
    Nuestra tienda online está repleta de una variedad exquisita de postres, desde clásicos irresistibles hasta creaciones innovadoras que desafían la imaginación. En nuestro catálogo encontrarás:
    
    Postres Artesanales: Elaborados con dedicación y cuidado, cada uno de nuestros postres está hecho a mano para garantizar un sabor auténtico y una calidad excepcional.
    Opciones Personalizables: ¿Tienes una ocasión especial? Personaliza tus postres con mensajes y decoraciones únicas para hacer que cada celebración sea aún más memorable.
    Ingredientes de Primera: Utilizamos solo los mejores ingredientes, frescos y naturales, para ofrecerte postres que no solo saben bien, sino que también son elaborados con el mayor respeto por tu salud y bienestar.
    Tu Experiencia de Compra
    

    Envío Confiable: Ofrecemos opciones de envío rápidas y asequibles para que recibas tus postres en perfectas condiciones, justo cuando los necesitas.
    Compromiso con la Calidad
    En OnlyFlans, nos enorgullece ofrecerte productos que superan tus expectativas. Cada postre que elaboramos pasa por rigurosos controles de calidad para asegurar que cada bocado sea una experiencia deliciosa.
    
    Gracias por elegir OnlyFlans. Esperamos que disfrutes de nuestros postres tanto como nosotros disfrutamos haciéndolos.
    
    ¡Endulza tu día con OnlyFlans! </p>
</div>

{% endblock %}