<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="Katherine Silva">
    <title>Onlyflans</title>

    <!-- favicon -->
    {% load static %}
    <link rel="shortcut icon" href= {% static 'img/image.png' %} type="image/x-icon">

    <!-- css -->
    
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- fuentes -->

    <!-- iconos -->
    <script async></script>
</head>
<body>
 <h1>ONLYFLANS</h1>
 <H2>Solo para tí, los postres mas ricos</H2>
 <img src="{% static 'img/pasteles.png' %}" alt="pasteles">
 

<nav></nav>

<header></header>
<main>

<section></section>



</main>
<footer></footer>
<!-- scripts -->




</body>
</html>