{% extends 'base.html' %} 

{% block content %} 
<div class="container" id="about">
  <h2>Acerca de nosotros</h2>
  <h6>Nuestra Pasión por los Postres</h6>
  <p>  
    En OnlyFlans, somos un equipo de entusiastas de la repostería con un amor inquebrantable por los postres artesanales. Nuestra misión es endulzar tus momentos especiales con delicias hechas con los ingredientes más frescos y de la más alta calidad. Desde nuestra cocina hasta tu mesa, cada postre es una obra de arte diseñada para deleitar tus sentidos.</p> 
  <h6>Lo Que Ofrecemos</h6> 
  <p>   
    Nuestra tienda online está repleta de una variedad exquisita de postres, desde clásicos irresistibles hasta creaciones innovadoras que desafían la imaginación. En nuestro catálogo encontrarás:
    
    Postres Artesanales: Elaborados con dedicación y cuidado, cada uno de nuestros postres está hecho a mano para garantizar un sabor auténtico y una calidad excepcional.
    Opciones Personalizables: ¿Tienes una ocasión especial? Personaliza tus postres con mensajes y decoraciones únicas para hacer que cada celebración sea aún más memorable.
    Ingredientes de Primera: Utilizamos solo los mejores ingredientes, frescos y naturales, para ofrecerte postres que no solo saben bien, sino que también son elaborados con el mayor respeto por tu salud y bienestar.
    Tu Experiencia de Compra
    Queremos que tu experiencia con nosotros sea tan dulce como nuestros postres. Por eso, hemos diseñado una plataforma de compra fácil e intuitiva:
    
    Navegación Sencilla: Encuentra tus postres favoritos rápidamente gracias a nuestro diseño claro y organizado.
    Proceso de Compra Rápido: Disfruta de un carrito de compras eficiente y opciones de pago seguras, para que puedas completar tu pedido sin complicaciones.
    Envío Confiable: Ofrecemos opciones de envío rápidas y asequibles para que recibas tus postres en perfectas condiciones, justo cuando los necesitas.
    Compromiso con la Calidad
    En OnlyFlans, nos enorgullece ofrecerte productos que superan tus expectativas. Cada postre que elaboramos pasa por rigurosos controles de calidad para asegurar que cada bocado sea una experiencia deliciosa.
    
    Conecta con Nosotros
    Nos encanta escuchar a nuestros clientes y saber cómo podemos mejorar. Si tienes alguna pregunta o necesitas asistencia, nuestro equipo de atención al cliente está aquí para ayudarte. También puedes seguirnos en nuestras redes sociales y suscribirte a nuestro boletín para estar al tanto de nuestras últimas novedades y ofertas exclusivas.
    
    Gracias por elegir OnlyFlans. Esperamos que disfrutes de nuestros postres tanto como nosotros disfrutamos haciéndolos.
    
    ¡Endulza tu día con OnlyFlans! </p>
</div>

{% endblock %}