{% extends 'base.html' %} 
{% load static %}
{% block content %} 
<div class="container">
  
  <h1>{{message}}</h1>
  
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for p in postres %}
    <div class="col-3">
      <div class="card">
        <img src="{{p.url}}" class="card-img-top" alt="Tarta de chocolate">
        <div class="card-body">
          <h5 class="card-title">{{p.name}}</h5>
          <p class="card-text">{{p.description}}</p>
        </div>
      </div>
    </div>
     {% endfor %} 
  </div>
  
</div>
{% endblock %}